
#container{
  width:1300px;
  height:650px;
  margin: 0 auto;
  /*border: 1px dashed black;*/
}
#scoreboard{
  height: 80px;
  width: 100%;
  background: #2b2727;
  vertical-align: top;
}
h1, h2, h3{
  margin: 0;
  display:inline-block;
}
h1{
  color:red;
  font-size: 70px;
  padding: 0px 20px;
}
h2{
  color: white;
  font-size: 60px;
  margin: 0px 168px 0 166px;
}
h3{
  color: red;
  font-size: 30px;
  padding: 25px 0 0 27px;
}
.game-score{
  margin: 0 auto;
  height: 60px;
  width: 70px;
  background: black;
  display: inline-block;
  border:5px solid grey;
  vertical-align: top;
}
#court{
  display: inline-block;
  background: url("images/cropped bball court.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  width:1003px;
  vertical-align: top;
}
img{
  width:90px;
  border-radius: 400px;
  padding: 13px 5px 0 5px;
}
#home-sidebar{
  background: grey;
  height:600px;
  width: 144px;
  display: inline-block;
  vertical-align: top;
}
.profilePic{
  padding: 5px 0 0 0;
  width: 142px;
  height: 103px;
  border-radius: 0px;
}
ul{
  list-style-type: none;
  padding-left: 15px;
  margin-top: 0px;
}
li{
  padding-top:20px;
}

#home-section{
  /*background: yellow;*/
  height: 100%;
  width: 385px;
  display: inline-block;
  vertical-align: top;
}
#home-pick, #away-pick{
  height: 105px;
  width:105px;
  padding-top: 68px;
  display: inline-block;
  padding-left: 3px;
  margin-right: 4px;
}

#middle-section{
  /*background: grey;*/
  height: 100%;
  width: 229px;
  display: inline-block;
  vertical-align: top;
}
#poss{
  text-align: center;
  background: black;
  border: 5px solid grey;
  color: white;
  height: 20px;
  width: 160px;
  margin: 10px 27.5px;
}
span{
  font-weight:800;
  color: red;
}
#dealBtn{
  text-align: center;
}
#all-chips{
  padding: 5px 0 0 11px;
}
.home-chips{
  background: url("images/yellow-chip.jpg") no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100px;
  width:100px;
  border-radius: 400px;
  position: relative;
}
.Hchips-dealt{
  background: url("images/yellow-chip.jpg") no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100px;
  width:100px;
  border-radius: 400px;
  position: relative;
  position: absolute;
}
.Hchips-dealt:hover{
  opacity: 0.3;
}
.away-chips{
  background: url("images/blue-chip.jpg") no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100px;
  width:100px;
  border-radius: 400px;
  position: relative;
}
.Achips-dealt{
  background: url("images/blue-chip.jpg") no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100px;
  width:100px;
  border-radius: 400px;
  position: relative;
  position: absolute;
}
.Achips-dealt:hover{
  opacity: 0.3;
}

#away-section{
  height: 100%;
  width: 375px;
  display: inline-block;
  vertical-align: top;
}
#away-sidebar{
  background: grey;
  height: 600px;
  width: 144px;
  display: inline-block;
  vertical-align: top;
}
footer{
  display: inline-block;
  width: 100%;
  height: 50px;
  background: grey;
}
#plusHome{
  width: 95%;
  height: 100%;
  font-size: 0px;
  color: green;
  margin-top: 237px;
  padding-left: 138px;
}
#plusAway{
  width: 95%;
  height: 100%;
  font-size: 0px;
  color: green;
  margin-top: 237px;
  padding-left: 123px;
}
